body {
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    background-position: center;
    height: 100%;
    overflow: auto; */
    background-color: rgb(32, 32, 41) !important;
}

.container {
    height: 380px;
    margin-top: 250px;
    background-color: rgb(15, 15, 17, 0.3);
    background-image: url('images/moon.png');
    background-repeat: no-repeat;
    background-size: 20%;
}


.date {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(132, 98, 191);
}

.searchBar {
    border-width: 0px;
    border: none;
    margin-left: 60px;
    outline: none;
}

.searchInput {
    width: 310px;
    outline: none;
    border-width: 0px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.searchInput:focus, textarea:focus, select:focus{
    outline: none;
    border-width: 0px;
    border: none;
}

::placeholder { 
    color: white;
    opacity: 0.8;
}

.searchIcon {
    width: 15px;
    height: 15px;
}

#myInput {
    outline: none;
    border-width: 0px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

a {
    color: white !important; 
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.social {
    color: rgb(191, 98, 98);
    font-weight: bold;
}

.video {
    color: rgb(252, 178, 114);
    font-weight: bold;
}

.life {
    color: rgb(148, 235, 172);
    font-weight: bold;
}

.misc {
    color: rgb(134, 152, 252);
    font-weight: bold;
}

.links {
    margin-top: 50px;
    margin-left: 230px;
    margin-right: 140px;
}

.main {
    color: white;
    margin-top: 20px;

}