body {
    background-image: url('background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overscroll-behavior: contain;
    background-position: bottom;
    height: 100%;
    overflow: auto;
}

h1.text-center {
    font-size: 35px;
    font-family: 'Electrolize', sans-serif;
    color: white;
    text-shadow: 2px 2px grey;
    letter-spacing: 10px;
    justify-content: center;
    margin-top: 220px;
    margin-bottom: 30px;
    padding-top: 40px;
}

h2.text-center {
    font-size: 20px;
    font-family: 'Electrolize', sans-serif;
    color: white;
    text-shadow: 1px 1px white;
    letter-spacing: 5px;
    justify-content: center;
    margin-bottom: 40px;
}

h3.text-center {
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px gray;
    font-family: 'Electrolize', sans-serif;
    letter-spacing: 5px;
}

.searchBar {
    margin-top: 50px;
    padding-bottom: 50px;
    border-width: 0px;
    border: none;
    outline: none;
}

.searchInput {
    width: 500px;
    outline: none;
    border-width: 0px;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.searchInput:focus, textarea:focus, select:focus{
    outline: none;
    border-width: 0px;
    border: none;
}

::placeholder { 
    color: white;
    opacity: 0.8;
    font-family: 'Electrolize', sans-serif;
}


a {
    color: white;
    font-size: 17px;
    font-family: 'Electrolize', sans-serif;
}

a:link, a:visited, a:active {
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    text-decoration: none !important;
    text-shadow: 2px 2px gray;
    color: white !important;
}

.container {
    background-color: rgba(255, 182, 237, 0.062);
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn {
    color: white !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.searchIcon {
    width: 17px;
    height: 17px;
}