body {
    background-image: url('https://images.unsplash.com/photo-1475257026007-0753d5429e10?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.jumbotron {
    margin-top: 40px;
    margin-left: 640px;
}

h1 {
    font-size: 90px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin-left: 20px;
    text-shadow: 2px 2px gray;
}

.row-1, .row-2 {
    justify-content: center;
    align-content: middle;
    display: flex;
}


.no-bullets {
    list-style-type: none;
}

.header {
    list-style-type: none;
    color: white;
    font-size: 34px;
    text-shadow: 2px 2px gray;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: white;
    font-size: 26px;
    font-family: 'Roboto Mono', monospace;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-shadow: 2px 2px gray;
}

.ul-2 {
    margin-left: 120px;
}


.ul-4 {
    margin-left: 80px;
    margin-right: 70px;
}


.searchBar {
    margin-top: 60px;
}